<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Groups list page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <div th:replace="wrapper/scripts-block :: css"></div>
</head>
<body>
  <nav th:replace="wrapper/navbar :: navbar"></nav>

  <div class="row" id="body-row">

    <div th:replace="wrapper/sidebar :: sidebar"></div>

    <div class="col m-3">
      <h4>Groups list</h4>

      <div class="row mt-5 ml-0">
        <div sec:authorize="hasAuthority('ADMIN')" th:replace="wrapper/view-by-role :: add-group-active-button"></div>
      </div>

      <div class="row mt-5 m-1">
        <table class="table table-hover" id="groups-table">
          <thead class="table-light">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col" class="text-muted">#Action</th>
          </tr>
          </thead>
          <tbody>
          <tr itemscope="row" th:each="el: ${groups}">
            <td th:text="${el.id}"/>
            <td th:text="${el.name}"/>
            <td>
              <div class="btn-group" role="group" aria-label="actions buttons">
                <a th:href="@{'/groups/' + ${el.id}}" class="btn btn-info" role="button">
                  <span class="bi bi-info-lg"></span>
                </a>
                <form th:action="@{'/groups/' +${el.id}+ '/delete'}" method="post">
                  <button class="btn btn-danger" type="submit">
                    <span class="bi bi-trash-fill"></span>
                  </button>
                </form>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>

  </div>

  <div th:replace="wrapper/scripts-block :: scripts"></div>
</body>
</html>