<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New teacher page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <div th:replace="wrapper/scripts-block :: css"></div>
</head>
<body>
  <nav th:replace="wrapper/navbar :: navbar"></nav>

  <div class="row" id="body-row">

    <div th:replace="wrapper/sidebar :: sidebar"></div>

    <div class="col m-3">
      <h4>New teacher</h4>

      <div class="row mt-5 ml-0">
        <form th:method="post" th:action="@{/teachers/add}" th:object="${teacher}">

          <div class="form-group">
            <div class="col-4">
              <label for="fname-input" class="col-form-label">FirstName</label>
              <div class="col-10">
                <input type="text" th:field="*{firstName}" class="form-control" id="fname-input">
              </div>

              <ul><li th:each="err : ${#fields.errors('firstName')}" th:text="${err}" class="text-danger"/></ul>

            </div>
          </div>

          <div class="form-group">
            <div class="col-4">
              <label for="lname-input" class="col-form-label">LastName</label>
              <div class="col-10">
                <input type="text" th:field="*{lastName}" class="form-control" id="lname-input">
              </div>

              <ul><li th:each="err : ${#fields.errors('lastName')}" th:text="${err}" class="text-danger"/></ul>

            </div>
          </div>

          <div class="form-group mt-3">
            <div class="col-4">
              <label for="degree-input" class="col-form-label">AcademicDegree</label>
              <div class="col">
                <select id="degree-input" class="js-example-basic-single" th:field="*{academicDegree}" style="width: 60%;">
                  <option value="">Search degree</option>
                  <option th:each="i : ${degree}" th:value="${i.getDescription()}" th:text="${i.getDescription()}"></option>
                </select>
              </div>

              <ul><li th:each="err : ${#fields.errors('academicDegree')}" th:text="${err}" class="text-danger"/></ul>

            </div>
          </div>

          <div class="mt-5">
            <a th:href="@{/teachers}" class="btn btn-secondary" role="button">Cancel</a>
            <button type="submit" class="btn btn-success pl-3">Save</button>
          </div>
        </form>
      </div>
    </div>

  </div>

  <div th:insert="wrapper/scripts-block :: scripts"></div>
  <script type="text/javascript">
        $(document).ready(function() {
            $('.js-example-basic-single').select2();
        });
  </script>
</body>
</html>