<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit user page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <div th:replace="wrapper/scripts-block :: css"></div>
</head>
<body>
<nav th:replace="wrapper/navbar :: navbar"></nav>

<div class="row" id="body-row">

    <div th:replace="wrapper/sidebar :: sidebar"></div>

    <div class="col m-3">
        <h4 th:text="'Edit role: @user' +${id}"/>

        <div class="row mt-5 ml-0">
            <form th:method="post" th:action="@{'/users/' +${id}+ '/edit'}" th:object="${user}">

                <input type="hidden" th:field="*{username}">
                <input type="hidden" th:field="*{password}">
                <input type="hidden" th:field="*{active}">

                <div class="form-check" th:each="el: ${roles}">
                    <label th:text="${el}"></label>
                    <input class="form-check-input" type="radio" th:field="*{role}" th:value="${el}">
                </div>

                <div class="mt-5">
                    <a th:href="@{'/users/' +${id}}" class="btn btn-secondary" role="button">Cancel</a>
                    <button type="submit" class="btn btn-success pl-3">Update</button>
                </div>
            </form>
        </div>
    </div>

</div>

<div th:insert="wrapper/scripts-block :: scripts"></div>
</body>
</html>